@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --primary: 0 91% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 100% 43%;
  --secondary-foreground: 0 0% 100%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;
  
  /* Custom mytek.tn colors */
  --mytek-primary: 360 85% 50%; /* #e41f18 */
  --mytek-secondary: 210 100% 43%; /* #0070dc */
  --mytek-lightgray: 0 0% 96%; /* #f5f5f5 */
  --mytek-darkgray: 0 0% 20%; /* #333333 */
  --mytek-success: 122 39% 49%; /* #4caf50 */
  --mytek-warning: 37 90% 51%; /* #f39c12 */
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --primary: 0 91% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 100% 43%;
  --secondary-foreground: 0 0% 100%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-gray-100 text-foreground;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-text {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}
